<div class="booking__left">
    <button class="booking__btn btn btn-orange">ПОДБОР ТУРА</button>
</div>
<div class="booking__right">
    <img src="img/calendar.webp" alt="">
    <div class="booking__field booking__field--bn">
        <label>заезд</label>
        <input value="27/06" type="text" />
    </div>
    <div class="booking__field">
        <label>выезд</label>
        <input value="8/08" type="text" />
    </div>
    <div class="booking__field">
        <label>гостей</label>
        <input type="text" value="3">
    </div>
    <button class="booking__btn booking__btn2 btn btn-green">БРОНИРУЙ ОНЛАЙН</button>
</div>