<div class='container'>
    <div class="consult__inner">
        <div class="consult__title">Подпишитесь на наши новости</div>
        <form class='consult__form'>
            <fieldset class='consult__fg form-group'>
                <input type='text' placeholder="Имя" />
            </fieldset>
            <fieldset class='consult__fg form-group'>
                <input type='email' placeholder="E-mail" />
            </fieldset>
            <div class="consult__checks">
                <div class="consult__check check">
                    <input type='checkbox' />
                    <label>Гость</label>
                </div>
                <div class="consult__check check">
                    <input type='checkbox' />
                    <label>Партнер</label>
                </div>
            </div>
            <button class="consult__btn btn btn-green-light">Отправить</button>
        </form>
    </div>
</div>