<header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <button class="header__burger">
                <img src="img/burger.png" alt="">
            </button>
            <a href="" class="header__logo">
                <img src="img/Logo.svg" alt="">
            </a>
            <div class="header__mob">
                <div class="header__mob-top">
                    <a href="" class="header__logo2">
                        <img src="img/Logo.svg" alt="">
                    </a>
                    <button class="header__close">
                        <img src="img/close.png" alt="">
                    </button>
                </div>
                <nav class="nav">
                    <a href="" class="nav__item">Наши услуги</a>
                    <a href="" class="nav__item">Новости</a>
                    <a href="" class="nav__item nav__item--active">Акции и скидки</a>
                    <a href="" class="nav__item">Галерея</a>
                    <a href="" class="nav__item">Оплата и бронь</a>
                    <a href="" class="nav__item">О нас</a>
                </nav>
                <div class="header__mob-bottom">
                    <div class="header__socials">
                        <a href="" class="header__socials-item">
                            <img src="img/instagram.png" alt="">
                        </a>
                        <a href="" class="header__socials-item">
                            <img src="img/instagram.png" alt="">
                        </a>
                        <a href="" class="header__socials-item">
                            <img src="img/youtube.png" alt="">
                        </a>
                        <a href="" class="header__socials-item">
                            <img src="img/whatsapp.png" alt="">
                        </a>
                    </div>
                    <div class="header__lang">
                        <select>
                        <option selected>RU</option>
                        <option>KZ</option>
                    </select>
                    </div>
                </div>
            </div>
            <a href="tel:+77008365867" class="header__phone">
                <img src="img/phone.png" alt="">
                <span>
                    8 700 <strong>836 58 67</strong>
                </span>
            </a>
        </div>
    </div>
</header>